---
Language: Cpp
BasedOnStyle: Google
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 88
CommentPragmas: ""
PointerAlignment: Right
DerivePointerAlignment: false
IndentCaseLabels: false
IndentGotoLabels: false
IndentWidth: 4
IndentWrappedFunctionNames: true
IncludeBlocks: Merge
# Local first, system second.
IncludeCategories:
  # local include
  - Regex: '^"'
    Priority: 1
  # unity test
  - Regex: '^<unity'
    Priority: 2
  # at least one slash.
  - Regex: '^<[^/]+/'
    Priority: 3
  # no slashes, maybe libc
  - Regex: '^<'
    Priority: 4
# vim: ft=yaml
...
