---
Language: Cpp
BasedOnStyle: Google
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 88
CommentPragmas: ""
PointerAlignment: Left
DerivePointerAlignment: false
IndentCaseLabels: false
IndentGotoLabels: false
IndentWidth: 4
IndentWrappedFunctionNames: true
SortIncludes: false
# vim: ft=yaml
...
