# build directories
/build/
/b-*/

# clangd stuff
.cache/
compile_commands.json

# IDE stuff
/.vscode/
/.idea/

# Portable meson
/meson-portable
/meson-portable/

# Misc
/openbsd/
/manpages/
/xp_getentropy.tar
/*.Dockerfile
