# build directories
/build/
/b-*/

# clangd stuff
.cache/
/compile_commands.json

# IDE stuff
/.vscode/
/.idea/

# portable meson, symlink or folder
/meson-portable
/meson-portable/

# misc
/openbsd/
/manpages/
/xp_getentropy.tar
/*.Dockerfile
